<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Prueba_2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Prueba_2.Properties.Settings.BD_MEDICAMENTOSConnectionString"
            connectionString="Data Source=DESKTOP-6289C7L;Initial Catalog=BD_MEDICAMENTOS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Prueba_2.Properties.Settings>
            <setting name="BD_SERVER" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="BD_NAME" serializeAs="String">
                <value>BD_MEDICAMENTOS</value>
            </setting>
        </Prueba_2.Properties.Settings>
    </userSettings>
</configuration>