<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Prueba2Lunes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Prueba2Lunes.Properties.Settings.Prueba2ConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Prueba2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Prueba2Lunes.Properties.Settings>
            <setting name="SERVER_NAME" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="BD_NAME" serializeAs="String">
                <value>Prueba2</value>
            </setting>
        </Prueba2Lunes.Properties.Settings>
    </userSettings>
</configuration>