USE [master]
GO
/****** Object:  Database [GI1819]    Script Date: 27/10/2018 21:32:40 ******/
CREATE DATABASE [GI1819]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GI1819', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\GI1819.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GI1819_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\GI1819_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GI1819].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GI1819]
GO
/****** Object:  UserDefinedFunction [dbo].[esAdmin]    Script Date: 27/10/2018 21:32:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[esAdmin] (@n varchar(50), @p varchar(50))
RETURNS BIT
AS
BEGIN
DECLARE @Result BIT;

SELECT @Result = r.admin FROM tRol r, tUsuario u WHERE u.nombre=@n AND u.password=@p AND u.rolName=r.rolName; 

     IF @Result is NULL
     BEGIN
       set @Result = 0
     END

RETURN @Result;
END;



GO
/****** Object:  Table [dbo].[tCita]    Script Date: 27/10/2018 21:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tCita](
	[ID_CITA] [int] NOT NULL,
	[NumSSPaciente] [int] NOT NULL,
	[Fecha_Hora] [datetime] NULL,
	[Consulta] [nchar](50) NULL,
 CONSTRAINT [PK__tCita__6416F2F0B0C95E18] PRIMARY KEY CLUSTERED 
(
	[ID_CITA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tPaciente]    Script Date: 27/10/2018 21:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tPaciente](
	[NumSS] [int] NOT NULL,
	[DNI_NIE] [varchar](50) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellidos] [varchar](50) NOT NULL,
	[Sexo] [varchar](10) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Direccion] [varchar](80) NULL,
	[Poblacion] [varchar](50) NULL,
	[Provincia] [varchar](50) NULL,
	[CodigoPostal] [varchar](50) NULL,
	[Pais] [varchar](3) NULL,
	[Telefono] [varchar](50) NULL,
	[e_mail] [varchar](50) NULL,
 CONSTRAINT [PK__tPacient__E33EDA7D1152CA6F] PRIMARY KEY CLUSTERED 
(
	[NumSS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tPais]    Script Date: 27/10/2018 21:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tPais](
	[Codigo] [varchar](3) NOT NULL,
	[Descripcion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tPermiso]    Script Date: 27/10/2018 21:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tPermiso](
	[rolName] [varchar](50) NOT NULL,
	[pantalla] [varchar](50) NOT NULL,
	[acceso] [bit] NOT NULL,
	[modificacion] [bit] NOT NULL,
 CONSTRAINT [PK_tPermiso] PRIMARY KEY CLUSTERED 
(
	[rolName] ASC,
	[pantalla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tRol]    Script Date: 27/10/2018 21:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tRol](
	[rolName] [varchar](50) NOT NULL,
	[rolDes] [varchar](255) NULL,
	[admin] [bit] NOT NULL,
 CONSTRAINT [PK_tRol] PRIMARY KEY CLUSTERED 
(
	[rolName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tUsuario]    Script Date: 27/10/2018 21:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tUsuario](
	[nombre] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[rolName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tUsuario] PRIMARY KEY CLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[tCita]  WITH CHECK ADD  CONSTRAINT [FK_tCita_tPaciente] FOREIGN KEY([NumSSPaciente])
REFERENCES [dbo].[tPaciente] ([NumSS])
GO
ALTER TABLE [dbo].[tCita] CHECK CONSTRAINT [FK_tCita_tPaciente]
GO
ALTER TABLE [dbo].[tPaciente]  WITH CHECK ADD  CONSTRAINT [FK_tPaciente_tPais] FOREIGN KEY([Pais])
REFERENCES [dbo].[tPais] ([Codigo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tPaciente] CHECK CONSTRAINT [FK_tPaciente_tPais]
GO
ALTER TABLE [dbo].[tPermiso]  WITH CHECK ADD  CONSTRAINT [FK_tPermiso_tRol] FOREIGN KEY([rolName])
REFERENCES [dbo].[tRol] ([rolName])
GO
ALTER TABLE [dbo].[tPermiso] CHECK CONSTRAINT [FK_tPermiso_tRol]
GO
ALTER TABLE [dbo].[tUsuario]  WITH CHECK ADD  CONSTRAINT [FK_tUsuario_tRol] FOREIGN KEY([rolName])
REFERENCES [dbo].[tRol] ([rolName])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tUsuario] CHECK CONSTRAINT [FK_tUsuario_tRol]
GO
/****** Object:  StoredProcedure [dbo].[InsertaUsuario]    Script Date: 27/10/2018 21:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[InsertaUsuario] (@u varchar(50), @p varchar(50), @u2 varchar(50), @p2 varchar(50), @r varchar(50) )
AS
BEGIN
     SET NOCOUNT ON;
     DECLARE @adm BIT

     EXEC @adm =  esAdmin @u, @p;
     PRINT @adm;
     IF @adm = 1
     BEGIN 
	INSERT INTO tUsuario VALUES(@u2,@p2,@r);
     END
END;

GO
USE [master]
GO
