USE [master]
GO
/****** Object:  Database [GI1819]    Script Date: 19/10/2018 11:54:20 ******/
DROP DATABASE [GI1819]
GO

CREATE DATABASE [GI1819]
GO

USE [GI1819]
GO
/****** Object:  UserDefinedFunction [dbo].[esAdmin]    Script Date: 19/10/2018 11:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[esAdmin] (@n varchar(50), @p varchar(50))
RETURNS BIT
AS
BEGIN
DECLARE @Result BIT;

SELECT @Result = r.admin FROM tRol r, tUsuario u WHERE u.nombre=@n AND u.password=@p AND u.rolName=r.rolName; 

     IF @Result is NULL
     BEGIN
       set @Result = 0
     END

RETURN @Result;
END;


GO
/****** Object:  Table [dbo].[tPermiso]    Script Date: 19/10/2018 11:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tPermiso](
	[rolName] [varchar](50) NOT NULL,
	[pantalla] [varchar](50) NOT NULL,
	[acceso] [bit] NOT NULL,
	[modificacion] [bit] NOT NULL,
 CONSTRAINT [PK_tPermiso] PRIMARY KEY CLUSTERED 
(
	[rolName] ASC,
	[pantalla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tRol]    Script Date: 19/10/2018 11:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tRol](
	[rolName] [varchar](50) NOT NULL,
	[rolDes] [varchar](255) NULL,
	[admin] [bit] NOT NULL,
 CONSTRAINT [PK_tRol] PRIMARY KEY CLUSTERED 
(
	[rolName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tUsuario]    Script Date: 19/10/2018 11:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tUsuario](
	[nombre] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[rolName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tUsuario] PRIMARY KEY CLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[tPermiso]  WITH CHECK ADD  CONSTRAINT [FK_tPermiso_tRol] FOREIGN KEY([rolName])
REFERENCES [dbo].[tRol] ([rolName])
GO
ALTER TABLE [dbo].[tPermiso] CHECK CONSTRAINT [FK_tPermiso_tRol]
GO
ALTER TABLE [dbo].[tUsuario]  WITH CHECK ADD  CONSTRAINT [FK_tUsuario_tRol] FOREIGN KEY([rolName])
REFERENCES [dbo].[tRol] ([rolName])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tUsuario] CHECK CONSTRAINT [FK_tUsuario_tRol]
GO
/****** Object:  StoredProcedure [dbo].[InsertaUsuario]    Script Date: 19/10/2018 11:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[InsertaUsuario] (@u varchar(50), @p varchar(50), @u2 varchar(50), @p2 varchar(50), @r varchar(50) )
AS
BEGIN
     SET NOCOUNT ON;
     DECLARE @adm BIT

     EXEC @adm =  esAdmin @u, @p;
     PRINT @adm;
     IF @adm = 1
     BEGIN 
	INSERT INTO tUsuario VALUES(@u2,@p2,@r);
     END
END;
GO

DELETE tRol;
INSERT INTO tRol VALUES('administrador', 'administrador',1);
INSERT INTO tRol VALUES('administrativo', 'administrativo',0);
INSERT INTO tRol VALUES('medico', 'medico',0);
GO

DELETE tUsuario;
GO
INSERT INTO tUsuario VALUES('admin', 'admin','administrador');
INSERT INTO tUsuario VALUES('juan', 'juan','administrativo');
INSERT INTO tUsuario VALUES('maria', 'maria','paciente');
GO

DELETE tPermiso;
GO
INSERT INTO tPermiso VALUES('administrador','LOGIN',1,1);
INSERT INTO tPermiso VALUES('administrador','USUARIOS',1,1);
INSERT INTO tPermiso VALUES('administrador','PACIENTES',1,1);



GO

/****** Object:  Table [dbo].[tCita]    Script Date: 24/10/2018 13:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tCita](
	[ID_CITA] [int] IDENTITY(1,1) NOT NULL,
	[NumSSPaciente] [int] NOT NULL,
	[Fecha_Hora] [datetime] NULL,
	[Consulta] [varchar](50) NULL,
 CONSTRAINT [PK_tCita] PRIMARY KEY CLUSTERED 
(
	[ID_CITA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tPaciente]    Script Date: 24/10/2018 13:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tPaciente](
	[NumSS] [int] NOT NULL,
	[DNI_NIE] [varchar](50) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellidos] [varchar](50) NOT NULL,
	[Sexo] [varchar](10) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Direccion] [varchar](80) NULL,
	[Poblacion] [varchar](50) NULL,
	[Provincia] [varchar](50) NULL,
	[CodigoPostal] [varchar](50) NULL,
	[Pais] [varchar](3) NULL,
	[Telefono] [varchar](50) NULL,
	[e_mail] [varchar](50) NULL,
 CONSTRAINT [PK_tPaciente] PRIMARY KEY CLUSTERED 
(
	[NumSS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tPais]    Script Date: 24/10/2018 13:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tPais](
	[Codigo] [varchar](3) NOT NULL,
	[Descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_tPais] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[tCita]  WITH CHECK ADD  CONSTRAINT [FK_tCita_tPaciente] FOREIGN KEY([NumSSPaciente])
REFERENCES [dbo].[tPaciente] ([NumSS])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tCita] CHECK CONSTRAINT [FK_tCita_tPaciente]
GO
ALTER TABLE [dbo].[tPaciente]  WITH CHECK ADD  CONSTRAINT [FK_tPaciente_tPais] FOREIGN KEY([Pais])
REFERENCES [dbo].[tPais] ([Codigo])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tPaciente] CHECK CONSTRAINT [FK_tPaciente_tPais]
GO

DELETE tPais;
GO
INSERT INTO tPais VALUES('ABW', 'ARUBA');
INSERT INTO tPais VALUES('AFG', 'AFGANISTÁN');
INSERT INTO tPais VALUES('AGO', 'ANGOLA');
GO


DELETE tPaciente;
GO
INSERT INTO tPaciente VALUES(1, '1', 'N1', 'AP1', 'HOMBRE', '1971-03-10', 'CASA 1', 'MALAGA', 'MALAGA', '29001', 'ESP', '111111111', '1@MAIL.COM');
INSERT INTO tPaciente VALUES(2, '2', 'N2', 'AP2', 'HOMBRE', '1998-05-05', 'CASA 2', 'MALAGA', 'MALAGA', '29002', 'CRI', '222222222', '2@MAIL.COM');
INSERT INTO tPaciente VALUES(3, '3', 'N3', 'AP3', 'MUJER', '2003-03-03', 'CASA 3', 'MALAGA', 'MALAGA', '29003', 'ESP', '3333333333', '3@MAIL.COM');
GO
DELETE tCita;
GO
INSERT INTO tCita(NumSSPaciente, Fecha_Hora, Consulta) VALUES(1,'2018-11-05 09:00:00','Traumatologia');
INSERT INTO tCita(NumSSPaciente, Fecha_Hora, Consulta) VALUES(1,'2018-11-07 09:00:00','Traumatologia');
INSERT INTO tCita(NumSSPaciente, Fecha_Hora, Consulta) VALUES(2,'2018-11-09 09:00:00','Digestivo');
