USE [master]
GO
/****** Object:  Database [[P1L1819]]    Script Date: 09/11/2018 13:37:25 ******/
DROP DATABASE [P1L1819]
GO

CREATE DATABASE [P1L1819]
GO

USE [P1L1819]
GO
/****** Object:  Table [dbo].[tCoche]    Script Date: 09/11/2018 13:37:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tCoche](
	[MATRICULA] [varchar](50) NOT NULL,
	[MARCA] [varchar](50) NULL,
	[MODELO] [varchar](50) NULL,
	[YEAR_MATRICULA] [int] NULL,
 CONSTRAINT [PK_tCoche] PRIMARY KEY CLUSTERED 
(
	[MATRICULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tITV]    Script Date: 09/11/2018 13:37:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tITV](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MATRICULA] [varchar](50) NULL,
	[YEAR_ITV] [int] NULL,
 CONSTRAINT [PK_tITV] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[tITV]  WITH CHECK ADD  CONSTRAINT [FK_tITV_tCoche] FOREIGN KEY([MATRICULA])
REFERENCES [dbo].[tCoche] ([MATRICULA])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tITV] CHECK CONSTRAINT [FK_tITV_tCoche]
GO

INSERT INTO tCoche VALUES('1234 ABC','MARCA1', 'MODELO1', 2001);
INSERT INTO tCoche VALUES('5678 ABC','MARCA1', 'MODELO2', 2002);
INSERT INTO tCoche VALUES('9000 ABC','MARCA1', 'MODELO3', 2003);

GO

