USE [master]
GO
CREATE DATABASE [BD_MEDICAMENTOS]
 CONTAINMENT = NONE
 
GO

GO
USE [BD_MEDICAMENTOS]
GO
/****** Object:  Table [dbo].[tLaboratorio]    Script Date: 31/01/2016 21:34:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tLaboratorio](
	[ID_LABORATORIO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_LABORATORIO] [varchar](80) NULL,
 CONSTRAINT [PK_tLaboratorio] PRIMARY KEY CLUSTERED 
(
	[ID_LABORATORIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tMedicamento]    Script Date: 31/01/2016 21:34:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tMedicamento](
	[ID_MEDICAMENTO] [int] NOT NULL,
	[NOMBRE_MEDICAMENTO] [varchar](80) NULL,
	[CANTIDAD_DISPONIBLE] [int] NOT NULL,
	[LABORATORIO] [int] NOT NULL,
 CONSTRAINT [PK_tMedicamento] PRIMARY KEY CLUSTERED 
(
	[ID_MEDICAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[tMedicamento]  WITH CHECK ADD  CONSTRAINT [FK_tMedicamento_tLaboratorio] FOREIGN KEY([LABORATORIO])
REFERENCES [dbo].[tLaboratorio] ([ID_LABORATORIO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tMedicamento] CHECK CONSTRAINT [FK_tMedicamento_tLaboratorio]
GO

USE [BD_MEDICAMENTOS]


INSERT INTO tLaboratorio VALUES('3M España, S.A.');
INSERT INTO tLaboratorio VALUES('3P Biopharmaceuticals');
INSERT INTO tLaboratorio VALUES('A.S.A.C. Pharmaceutical I.A.E.');

GO

INSERT INTO tMedicamento VALUES(240,'ADEROGYL',240,5);
INSERT INTO tMedicamento VALUES(2362,'EFFORTIL',2362,5);
INSERT INTO tMedicamento VALUES(2692,'FADA ENALAPRIL/ENALAPRIL MALEATO FADA 10 mg comp.x 20',2692,5);
GO
