USE [master]
GO
/****** Object:  Database [P01]    Script Date: 21/10/2018 13:30:09 ******/
CREATE DATABASE [P01]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'P01', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\P01.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'P01_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\P01_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [P01].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [P01]
GO
/****** Object:  UserDefinedFunction [dbo].[getNota]    Script Date: 21/10/2018 13:30:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[getNota] 
(
	@ID int,
	@NOMBRE varchar(40),
	@FECHA datetime
)
RETURNS real
AS
BEGIN
	
	RETURN (SELECT C.NOTA
	FROM CALIFICACIONES C INNER JOIN ASIGNATURAS A ON C.CODIGO = A.CODIGO
	WHERE (@ID = C.ID AND @NOMBRE LIKE A.NOMBRE AND @FECHA = C.FECHA_PRUEBA))

END

GO
/****** Object:  Table [dbo].[ASIGNATURAS]    Script Date: 21/10/2018 13:30:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ASIGNATURAS](
	[CODIGO] [int] NOT NULL,
	[NOMBRE] [varchar](40) NOT NULL,
 CONSTRAINT [PK_ASIGNATURAS] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CALIFICACIONES]    Script Date: 21/10/2018 13:30:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CALIFICACIONES](
	[ID_PRUEBA] [int] IDENTITY(1,1) NOT NULL,
	[FECHA_PRUEBA] [datetime] NULL,
	[NOTA] [real] NULL,
	[CODIGO] [int] NOT NULL,
	[ID] [int] NOT NULL,
 CONSTRAINT [PK_CALIFICACIONES] PRIMARY KEY CLUSTERED 
(
	[ID_PRUEBA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ESTUDIANTES]    Script Date: 21/10/2018 13:30:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ESTUDIANTES](
	[ID] [int] NOT NULL,
	[NOMBRE] [varchar](40) NOT NULL,
 CONSTRAINT [PK_ESTUDIANTES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CALIFICACIONES]  WITH CHECK ADD  CONSTRAINT [FK_CALIFICACIONES_ASIGNATURAS] FOREIGN KEY([CODIGO])
REFERENCES [dbo].[ASIGNATURAS] ([CODIGO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CALIFICACIONES] CHECK CONSTRAINT [FK_CALIFICACIONES_ASIGNATURAS]
GO
ALTER TABLE [dbo].[CALIFICACIONES]  WITH CHECK ADD  CONSTRAINT [FK_CALIFICACIONES_ESTUDIANTES] FOREIGN KEY([ID])
REFERENCES [dbo].[ESTUDIANTES] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CALIFICACIONES] CHECK CONSTRAINT [FK_CALIFICACIONES_ESTUDIANTES]
GO
/****** Object:  StoredProcedure [dbo].[InsertarNota]    Script Date: 21/10/2018 13:30:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertarNota] 
	(@ID int, @NOMBRE varchar(40), @NOTA real)
AS
BEGIN
	DECLARE @ID_ASIGNATURA int = (SELECT CODIGO FROM ASIGNATURAS WHERE NOMBRE LIKE @NOMBRE)
	DECLARE @CURRENT_DATE datetime = (SELECT CONVERT(date,getdate()))

	IF EXISTS( SELECT * FROM CALIFICACIONES C INNER JOIN ASIGNATURAS A ON A.CODIGO = C.CODIGO INNER JOIN ESTUDIANTES E ON E.ID = C.ID WHERE C.ID = @ID AND C.CODIGO = @ID_ASIGNATURA AND FECHA_PRUEBA = @CURRENT_DATE)
		UPDATE CALIFICACIONES SET NOTA = @NOTA WHERE CODIGO = @ID_ASIGNATURA AND ID = @ID AND FECHA_PRUEBA = @CURRENT_DATE
	ELSE
		INSERT INTO CALIFICACIONES(ID,CODIGO,FECHA_PRUEBA,NOTA) VALUES (@ID,@ID_ASIGNATURA,@CURRENT_DATE,@NOTA)

END

GO
USE [master]
GO
